.footer__Banner {
  display: none;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer__Info {
  padding: 2rem;
  .footer__Logo {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    img {
      margin-right: 1rem;
    }
  }
  p {
    margin-bottom: 1rem;
  }
  .footer__Social {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    img {
      margin-right: 2rem;
    }
  }
}
